@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,500,600,700,800,900,300);

header {
    clear: both;
    width: 100%;
    height: 72px;
    background: #FF0000;
    position: fixed;
}

header h1 {
    float: left;
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 18px;
    color: #FFF;
}

header h1 a {
    text-decoration: none;
    color: #FFF;
}

header nav {
    float: right;
    margin-top: 28px;
    margin-right: 40px;
}

header nav ul {
    list-style-type: none;   
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #FFF;
    padding: 10px 5px;
    font-size: 0.85em;
    letter-spacing: 1px;
}

header nav ul li a:hover {
    background: #FFF;
    color: #FF0000;
}

footer {
    clear: both;
    width: 100%;
    height: 72px;
    background: #004A8B;
    bottom: 0;
}

address {
    font-size: 1.25em;
    margin-bottom: 30px;
}

blockquote p {
    font-weight: bold;
    text-align: justify;
}

blockquote p:nth-of-type(2) {
    text-align: right;
}

p.contribute {
    font-size: 1.3em;
    font-weight: bold;
}

#container {
    width: 100%;
    margin: 0;
    padding: 0;
}

#main {
    clear: both;
    width: 100%;
    min-height: 940px;
    margin: 0;
    padding: 0;
}

#main .marquee {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 550px;
    background-size: cover;
    background-image: url(../images/family-2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
}

#main .marquee section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 550px;
    background: rgba(112, 66, 20, 0.6);
}

#main .marquee section h1 {
    margin: 0 auto;
    padding-top: 14%;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: oblique;
    font-size: 3.25em;
    line-height: 1.25;
    text-align: left;
    width: 85%;
}

#main .marquee section h2 {
    margin: 0 auto;
    margin-right: 170px;
    padding-top: 20px;
    font-size: 2.25em;
    color: #FFF;
    float: right;
    font-family: "Courgette", sans-serif;
}

#main .info {
    margin: 0 auto;
    margin-top: 5%;
    padding: 0;
    width: 940px;
}

#main .info section p {
    text-align: left;
    font-size: 1.3em;
}

#main .info section ul {
    font-size: 1.2em;
}

#main .page-info {
    margin: 0 auto;
    padding: 0;
    width: 940px;
}

#main .page-info div {
    width: 650px;
    float: left;
}

#main .page-info section {
    width: 100%;
    margin-bottom: 5%;
    font-family: "Slabo 27px", serif;
    float: left;
}

#main .page-info aside {
    margin-top: 21%;
    margin-left: 20px;
    width: 270px;
    float: left;
}

#main .page-info aside img {
    -webkit-box-shadow: 5px 5px 1px 0 #000;
}

#main .page-info section:nth-of-type(1) {
    padding-top: 15%;   
}

#main .page-info h1 + section {
    margin-top: -130px;
}

#main .page-info section h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 2.95em;
    text-transform: uppercase;
}

#main .page-info section h2 {
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.95em;
    text-transform: uppercase;
}

#main .page-info section li {
    margin-bottom: 15px;   
}

#main .page-info section a {
    text-decoration: none;
    color: #004A8B;
    font-weight: bold;
    letter-spacing: 1px;
}

#main .page-info section a:hover {
    text-decoration: underline;
}

#main .info img {
    float: left; 
    width: 30%;
    margin-right: 20px;
}

#main .info section {
    float: left;   
    text-align: center;
    width: 550px;
}

#main .info section h2 {
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.95em;
    text-transform: uppercase;
}

#main .info section h3 {
    margin-top: -20px;
    font-size: 1.5em;   
}

#main .info section p {
    clear: both;
}

#main .info section ul {
    margin-left: 0.15in;   
}

#main .info section ul li {
    text-align: left;   
    margin-bottom: 10px;
    font-size: 0.8em;
}